.navbar {
    background-color: white;
    height: 60px;
    font-size: 1.2em;

    &__container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        margin: 0 20px;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        text-decoration: none;
        margin-right: 20px;
        width: 100px;
        text-align: center;

        &:hover {
            background-color:  #2E8BC0;
            color: white;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


// styles that apply to mobile
@media only screen and (max-width: 440px) {

    .navbar {
        &__items {
            display: none;
            &--show {
                display: block;
                width: 100%;
                background: white;
                top: 60px;
                left: 0;
                position: absolute;

                li { 
                    display: block;
                }
            }
        }

        &__hamburger {
            font-size: 1.4em;
        }
    }
}