.searchBar {
  padding: 0 10px 0;
  background: white;

  &__input {
    width: 98%;
    border: none;
    height: 50px;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid #999;
    transition: all 0.5s ease;
    font-size: 1.3rem;
    // border: 1px solid red;

    &:focus {
      border-bottom: 2px solid #333;
    }
  }
}
